*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Jost', sans-serif;
    color: 
    white;
}
body{
    background: black;
}
.header-bg-img{
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0, 0, 0, 0.805),rgba(8, 8, 8, 0.716)),url(pixar-background\ \(1\).jpg);
    background-size:cover ;
    width: 100%;
    height: 95vh;
    padding-top: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    /* background-color: white; */
    height: 60px;
    border-radius: 10px;
}
.logo-img{
    width: 53%;
}
li {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    padding: 30px;
    font-weight: 500;
}
ul li a{
    display: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.8s;
}
ul li a:hover{
    color: #501bcd;
}
.sign-button i{
    font-size: 20px;
}
.sign-button{
    width: 50px;
    height: 50px;
    background-color: rgba(30, 30, 30, 0.597);
   border: none;
   border-radius: 100px;
}
.Feature-movies-pop {
  visibility: hidden;display: none;
}
.Feature-movies-pop:hover{
    visibility:visible;
}

.Enjoy-on-btoon{
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.675); */
    width: 500px;
    margin: auto;
    margin-top: 180px;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
}
.Enjoy-on-btoon h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}
/* .Enjoy-on-btoon h4{
    color:#c60303;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}  */
.Enjoy-on-btoon img{
    width: 52%;
}
.Enjoy-on-btoon p{
    color: #b9b9b9;
    padding-top: 20px;
}
.get-started-today{
    text-align: center;
}
.get-started-today button{
    width: 32.57%;
    height: 40px;
    border-radius:5px;
    border: none;
    background-color: #c60303;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.checkbtn{
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
    
}
#check{
    display: none;
}

/* first scroller */

.Features h1{
    font-size: 20px;
 }
 .seconde-card{
    display: none;
 }
 .seconde-card-descktop{
    margin: auto;
    text-align: center;
    border-color: rgba(255, 254, 254, 0.518);
    border-style: solid;
    border-width:0.50px ;
    margin-top: 20px;
    border-radius: 10px 10px 0px 0px;
    width: 80%;
    box-shadow: inset 0px 1px 30px 1px rgba(62, 9, 9, 0.918);
    padding: 10px 10px 10px 10px;
 }
 .seconde-card-descktop img{
    width: 6%;
 }
 .seconde-card-descktop  p{
    color: rgba(212, 212, 212, 0.851);
    font-size: 16px;
    line-height: 30px;
 }

/*  */
.Features h1{
   color: white;
   
    padding-left: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
}

/* alert section */
.alert-contents-center{
    text-align: center;
    font-size: 24px;
    margin-top: 70px;
}
.alert-contents p i{
    font-size: 25px;
    margin-right: 50px;
}
.alert-contents-display{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;

}
.alert-contents  p,.alert-contents-2 p{
    padding: 30px;
    color: black;
    font-size: 17px;
}

/* alert section end */
  
/* my try */
/* question start here 
.question{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
  }
  .question h2{
    font-weight: 500;
    font-size: 40px;
  }
  .accordion{
    margin: 60px auto;
    width: 100%;
    padding: 5px;
    max-width: 750px;
  }
  .accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
  }
  .accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #f8f8f8;
    margin-bottom:2px;
    position: relative;
    cursor: pointer;
    height: 70px;
  
  }
  
  label::after{
    content:'+';
    font-size: 34px;
    position: absolute;
    right: 20px;
  }
  .accordion .content{
    background: #303030;
    overflow: hidden; 
    text-align: left;
    max-height: 0;
    transition: max-height 0.5s, padding 0.5s;
  }
  .accordion .content p{
    padding-top: 0;
  }
  .accordion input[type="radio"]:checked + label + .content{
    max-height: 600;
    padding: 110px 0px;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
  }
  .accordion input[type="radio"]:checked + label::after{
  transform: rotate(135deg);
  }
  .accordion input[type="radio"]{
    display: none;
  }*/

  @media (max-width: 800px){
    .checkbtn{
        display: block;
        font-size: 23px;
        padding-right:10px ;
        z-index: 300;
        
        }
    
    ul{
        display: block;
        position: fixed;
        width: 100%;
        height: 97vh;
        background: #ffffff;
        top: 0px;
        text-align: center;
        left: -130%;
        z-index: 200;
        transition: 0.28s;
    }
    
    nav ul li{
        display: block;
        margin:24px 0;
        line-height: 10px;
        
    }
    nav ul li a{
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
    #check:checked ~ ul{
        left: 0;
    }

    /*  */

    .header-bg-img{
       padding-top: 30px;
        background-image:linear-gradient(rgba(0, 0, 0, 0.851),rgba(8, 8, 8, 0.752)),url(pixar-background\ \(1\).jpg);
        width: 100%;
        height: 90vh;
    
    }
    
    /* nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin: auto;
        background-color: white;
        height: 60px;
        border-radius: 10px;
    } */
    .logo-img{
        width: 53%;
    }

    .Enjoy-on-btoon{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.708);
        height: 39vh;
        width: 355px;
        border-color: rgba(255, 254, 254, 0.518);
        border-style: solid;
        border-width:0.50px ;
        margin-top: 152px;
        border-radius: 7px;     
    }
    .Enjoy-on-btoon h1{
        font-size: 30px;
        padding-top: 15px;
    }
    /* .Enjoy-on-btoon h4{
        color: #f0ecec;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        padding-top: 24px;
    } */
    .Enjoy-on-btoon p{
        color: rgba(212, 212, 212, 0.851);
        padding-top: 34px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }
    .Enjoy-on-btoon img{
        width: 75%;
        padding-top: 30px;
    }
    .get-started-today{
        text-align: center;
    }
    .get-started-today button{
        width: 355px;
        height: 50px;
    }
    
    .Features h1{
        font-size: 20px;
     }
     
     .alert-contents-center h2{
        font-size: 24px;
     }
     .seconde-card{
        margin: auto;
        text-align: center;
        border-color: rgba(255, 254, 254, 0.518);
        border-style: solid;
        border-width:0.50px ;
        margin-top: 20px;
        border-radius: 10px 10px 0px 0px;
        width: 350px;
        box-shadow: inset 0px 1px 30px 1px rgba(98, 4, 4, 0.918);
        padding: 10px 10px 10px 10px;
        display: block;
     }
     .seconde-card img{
        width: 30%;
        padding-top: 10px;
     }
     .seconde-card p{
        color: rgba(212, 212, 212, 0.851);
        font-size: 14px;
        line-height: 30px;
     }
     .seconde-card-descktop{
        display: none;
     }

     /* alert section */
.alert-contents-center{
    text-align: center;
    font-size: 24px;
    margin-top: 70px;
}
.alert-contents p i{
    font-size: 20px;
    margin-right: 28px;
}
.alert-contents-display{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 93%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;

}
.alert-contents  p,.alert-contents-2 p{
    padding: 30px;
    color: black;
    font-size: 17px;
}

/* alert section end */
   
    }
