*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.header-bg-img{
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0, 0, 0, 0.482),rgba(8, 8, 8, 0.159)),url(https://www.hdwallpapers.in/download/onward_2020_animation_pixar_4k-HD.jpg);
    background-size:cover ;
    width: 100%;
    height: 95vh;
    padding-top: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    background-color: white;
    height: 60px;
    border-radius: 10px;
}
.logo-img{
    width: 23%;
}
li {
    display: inline-block;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.8s;
}
ul li a:hover{
    color: #501bcd;
}
.sign-button i{
    font-size: 20px;
}
.sign-button{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
   border: none;
   border-radius: 100px;
}
.Feature-movies-pop {
  visibility: hidden;display: none;
}
.Feature-movies-pop:hover{
    visibility:visible;
}

.Enjoy-on-btoon{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.675);
    width: 500px;
    margin: auto;
    margin-top: 250px;
    padding: 20px 20px 20px 20px;
    line-height: 50px;
    border-radius: 5px;
    
}
.Enjoy-on-btoon h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.Enjoy-on-btoon h2{
    color: #6d2eff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.Enjoy-on-btoon img{
    width: 44%;
}
.get-started-today{
    text-align: center;
}
.get-started-today button{
    width: 32.57%;
    height: 40px;
    border-radius:5px;
    border: none;
    background-color: #501bcd;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.checkbtn{
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*  */
.Features h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    
  }
  .scroll-container img {
    padding: 10px;
    width:250px;
    height:320px;
    border-radius: 15px;
  }
  .scroll-container::-webkit-scrollbar{
    display: none;
  }

  

  @media (max-width: 800px){
    .checkbtn{
        display: block;
        font-size: 25px;
        padding-right:30px ;
        }
    
    ul{
        display: block;
        position: fixed;
        width: 100%;
        height: 95vh;
        background: #ffffff;
        top: 80px;
        text-align: center;
        left: -130%;
        z-index: 200;
        transition: 0.28s;
    }
    
    nav ul li{
        display: block;
        margin:24px 0;
        line-height: 10px;
        
    }
    nav ul li a{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
    #check:checked ~ ul{
        left: 0;
    }

    /*  */

    .header-bg-img{
       padding-top: 30px;
        background-image:linear-gradient(rgba(0, 0, 0, 0.482),rgba(8, 8, 8, 0.159)),url(600-bg.jpg);
        background-size: cover;
       width: 100%;
        height: 97vh;
    
    }
    
    nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin: auto;
        background-color: white;
        height: 60px;
        border-radius: 10px;
    }
    .logo-img{
        width: 39%;
        padding-left: 20px;
    }

    .Enjoy-on-btoon{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.708);
        width: 300px;
        margin-top: 160px;
        
        
        
    }
    .Enjoy-on-btoon h1{
        font-size: 29px;
    }
    .Enjoy-on-btoon h2{
        color: #6d2eff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 33px;
    }
    .Enjoy-on-btoon img{
        width: 75%;
    }
    .get-started-today{
        text-align: center;
    }
    .get-started-today button{
        width: 83%;
        height: 50px;
    }

    .scroll-container img {
       
        width:250px;
        height:310px;
     
      }
    }
